.cabecalho {
    background-color: #0c0b0ba9;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* garante que fique acima do conteúdo */
}

.botoes-direita {
    display: flex;
    justify-content: flex-end;
}

.cabecalho button {
    display: flex;
    justify-content: flex-start;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #d3c013;
    font-family: 'Tangerine', cursive;
    font-weight: 400;
    font-style: normal;
}

.cabecalho button:hover {
    color: #d3c013;
    text-decoration: underline #d3c013;
}

.link-cabecalho {
    width: 200px;
}

@media (max-width: 768px) {
    .cabecalho {
        height: 8vh;
    }

    .cabecalho button {
        font-size: 1.2rem;
    }

    .link-cabecalho {
        width: 150px;
    }
}
